# External
FRONTEND_PORT=8080

# Backend
BACKEND_ADDR=:8080
BACKEND_STORAGE_DIR=/data
BACKEND_PROCESSOR_URL=http://processor:8081/process
BACKEND_MAX_UPLOAD_MB=100

# Processor
PROCESSOR_ADDR=:8081
PROCESSOR_FFMPEG_BIN=/opt/ffmpeg/bin/ffmpeg
PROCESSOR_FFPROBE_BIN=/opt/ffmpeg/bin/ffprobe
PROCESSOR_MAX_BODY_MB=100

